**/obj/
__azurite_db_blob__
__azurite_db_blob_extent__
__azurite_db_queue__
__azurite_db_queue_extent__
__blobstorage__/
__queuestorage__/
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
**/project.assets.json
__azurite_db_table__.json
